<div class="{{adClass}}">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- default horizontal -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="{{adClient}}"
             data-ad-slot="{{adSlot}}"
             data-ad-format="{{adFormat}}"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
</div>
